.row {
    display: flex;
    align-items: stretch;

}

.label {
    flex: 0 1 auto;

}

.container {
    flex: 1;
    display: flex;
    justify-content:flex-start;
}

.dish {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pizza {
    background-color: #EE9972;
}

.pasta {
    background-color: #F4CE14;
}

.burrito {
    background-color: #495E57;
}